@model RentCar.Models.Car

@{
    Layout = null;
    ViewData["Title"] = "Novo carro";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Cadastrar carro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="modal-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DailyPrice" class="control-label"></label>
                    <input asp-for="DailyPrice" class="form-control" onkeyup="k(this)"/>
                    <span asp-validation-for="DailyPrice" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <img class="img" id="load" src="~/images/car.png" alt="Capa" width="200" height="200"/>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name="img" onchange="LoadImg(this)"/>
                        <label class="custom-file-label" for="inputGroupFile01">Selecione uma imagem</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-outline-primary btn-sm">Salvar</button>
            </div>
        </form>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}